In [5]:
import pandas as pd
from pathlib import Path
import csv

In [4]:
csvpath = ('budget_data.csv')

In [11]:
sales_dataframe = pd.read_csv(csvpath)
sales_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [14]:
sales_dataframe.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [16]:
sales_dataframe.count()

Date             86
Profit/Losses    86
dtype: int64

In [17]:
sales_dataframe.mean()

C:\Users\sagui\AppData\Local\Temp\ipykernel_26832\2486447290.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sales_dataframe.mean()

Profit/Losses    446309.046512
dtype: float64

In [18]:
sales_dataframe.max()

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [19]:
sales_dataframe.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [26]:
sales_dataframe.

AttributeError: 'DataFrame' object has no attribute 'totalnet'